<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rfict.diplom.medicalassistantv20">

    <application
        android:allowBackup="true"
        android:icon="@drawable/login"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Complaints" />
        <activity android:name=".Recognition" />
        <activity android:name=".Settings"
/>
        <activity android:name=".Karta" />
        <activity android:name=".Dobavlenie1" />
        <activity android:name=".Pacient1" />
        <activity android:name=".Pacient2" />
        <activity android:name=".Dobavlenie2"></activity>
    </application>

</manifest>
